tr{
}

td{
text-align:center;
visibility:hidden;
border :5px ;
background-color:green;
border-width:5px;
border-radius:10px;
}
tr > td:nth-child(2)   {
visibility:visible;
background-color:grey;
border : 5px yellow;
}
